.logout-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  
    .logout-button {
      background-color: #ff4c4c;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #ff1f1f;
      }
    }
  }
  